/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*html, body {
    /*color:#fff;*/
    font-family: "Open Sans" , Arial;
    background:#fff;
    /*height: 100%;*/
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
}
nav {
    height: 40px;
    background: none repeat scroll 0% 0% #FFF;
    padding: 10px;
}

.caption{
    color: #A2A4A6;
    font-size: 14px;
    font-weight: 200;
    font-family: "Open Sans";
}


h3 {
    font-family: "Roboto";
    font-weight: 200;
}

footer {
    background: none repeat scroll 0% 0% #2C3E50;
    height: 70px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    /*z-index: 1000000;*/
} 

.banner{
    text-align: center;
    /*width: 80%;*/
    color: #505E6D;
    font-weight: 300;
    background:url(../img/congruent_pentagon.png) repeat fixed;
    border-bottom: 10px solid #33B76E;
    box-shadow: 5px 1px 10px #EEE;
    height: 250px;
    /*margin-bottom: -120px;*/
    line-height: 10px;
    padding-top: 50px;
}


#logo{
    float: left;
    width: auto;
}

#logo span {
    position: absolute;
    top: 25px;
}

#logo img {
    background: none repeat scroll 0% 0% #2C3E50;
    border-radius: 50%;
    height: 40px;
    margin: 0px 10px;
}

ul {
    width: 280px;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

li {
    display: inline-block;
    /*margin: 0px 21px;*/
    color:#33B76E;
}

li:hover{
    border-bottom:2px solid #2C3E50;
    cursor:pointer;
}



#intro-screen-template{
        background:url(../img/congruent_pentagon.png) repeat;

}

.circle {
    background: none repeat scroll 0% 0% #505E6D;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    border: 5px solid transparent;
    -webkit-transition: border .3s ease-in-out;
    -moz-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
}


.circle:hover {
    border: 5px solid #33B76E;
}



/* ******************************
              BUTTONS!
     (Inspired by Bootstrap 3.0)
   ****************************** */

/*.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-family: "Helvetica",sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    background-color: #2c3e50;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    color: #FFF;
    padding: 5px 21px 2px;
    border-radius: 3px;
}*/

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}



.btn:active,
.btn.active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.left {
    float: left;
}

.right {
    float: right;
}

.txt_center{
    text-align: center;
}

/* ******************************
          TITLE SCREEN
     (intro-screen-template)
   ****************************** */

#gameArea {
    height: 100%;
    width: 100%;
}

.titleWrapper {
    font-family: "Quicksand",sans-serif;
    font-weight: 400;
    position: relative;
    width: 96%;
    margin: 30px auto;
}

.title {
    margin: 60px auto;
    text-align: center;
    width: 70%;
    font-family: "Quicksand",sans-serif;
    color: #505E6D;
    font-weight: 300;
    background: none repeat scroll 0% 0% #FFF;
    padding: 70px 0px;
    border-bottom: 6px solid #33B76E;
}


.rev_title {
    margin: 60px auto;
    text-align: center;
    width: 80%;
    font-family: "Quicksand",sans-serif;
    color: #505E6D;
    font-weight: 300;
    background: #fff;
    padding: 70px 0px;
    border-bottom: 6px solid #33B76E;
    font-size: 60px;
}

.dark {
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
   background: none repeat scroll 0% 0% #2C3E50;
    opacity: 1;
    border-bottom: 6px solid #0C1E30;
    width: 230px;
    font-size: 100%;
    padding: 7px 10px;
}

.dark:hover {
    background:#2c3e50;
    color:#27ae60;
    /*opacity:.8;*/
}

    .sub_title {
        font-size: 30px;
        color: #727476;
        padding: 10px;
        font-weight: 200;
        line-height: 36px;
}  

.textFitted{
    font-size:70px;
}

.buttons {
    width: 520px;
    /*width:40%;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

/* ******************************
          START SCREEN
     (create-game-template)
   ****************************** */

.createGameWrapper, .joinGameWrapper, .gameOver {
    font-family: "Open Sans",sans-serif;
    font-weight: 200;
}

.createGameWrapper .info{
   margin: 30px auto;
    text-align: center;
    width: 100%;
    color: #505E6D;
    font-weight: 300;
    font-size: 70px;
    padding: 10px 0px !important;
    background: #fff;
    line-height: 1em;
}


.createGameWrapper .info span{
    text-align: center;  
}

#url_dir{
    font-size: 23px;
    color: #FFF;
    font-family: "Roboto";
    font-weight: 200;
}

.help{
   background: none repeat scroll 0% 0% #505E6D;
    color: #33B76E;
    width: auto;
    padding: 10px 25px;
    text-align: left;
}

.help_info{
    font-weight: 100;
    color:#fff;
    font-size: 23px;
    font-family: "Open Sans";
}

hr {
    margin: 8px auto;
    border-top: 1px solid #fff;
}

article{
   height: 100%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

/*#home {
    background:url(../img/congruent_pentagon.png) repeat;
}*/


/*#steps_img img{
width: 100%;
}*/

.infoBig >.textFitted {
    font-size: 25px !important;
}


.float-left{
    float:left;
    clear:both;
}
.float-right{
    float:right;
}


.createGameWrapper{
    /*color: #AE37B2;*/
    font-weight: 300;
}

.info label {
    display: block;
    padding-bottom: 8px;
    font-size: 17px;
    font-family: "Open Sans";
}

.info input {
    text-align: left;
    padding: 9px;
    width: 90%;
    height: 16px;
    font-family: "Quicksand",sans-serif;
    color: #2C3E50;
    font-weight: 300;
    font-size: 15px;
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #33B76E;
    border-radius: 2px;
    }

.info input#inputPlayerName {
    width: 90%;
}

.pad{
   padding: 15px;
    margin-top: 0px;
}

/* ******************************
           JOIN SCREEN
      (join-game-template)
   ****************************** */

.joinGameWrapper {
   margin: 60px auto;
padding: 1px 0px;
background: none repeat scroll 0% 0% #FFF;
border-bottom: 10px solid #33b76e;
}

.joinGameWrapper .info {
   font-size: 1.5em;
    color: #000;
    height: 18%;
    margin-top: 15px;
}

.joinGameWrapper .btn {
    /*width: 100%;
    height: 50%;*/
}

#playerWaitingMessage {
    font-size: .6em;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #6f6f6f;
    margin-bottom: 10px;
}

.createGameWrapper #gameURL {
    /*font-size: 4em;*/
}

.createGameWrapper .gameId {
    font-size: 4.4em;
    font-family: "Open Sans";
    font-weight: 200;
    line-height: 1em;
}

#hostWord >.textFitted{

}

/* ******************************
          PLAYER GAME SCREEN

   ****************************** */


#ulAnswers {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#ulAnswers li {
    width: 100%;
    /*height: 16.6%;*/
}

.btnAnswer {
    width: 100%;
    border-bottom: 1px solid #FFF;
    font-weight: 200;
    font-size: 21px;
    color: #FFF;
    height: auto;
    font-family: "Roboto";
    padding: 15px;
}

.btnAnswer:hover{
    background: #33b76e;
}



/* ******************************
            HOST SCREEN
       (host-game-template)
   ****************************** */

/* Absolute Centering: http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/ */
#wordArea {
    font-family: "Quicksand",sans-serif;
    font-weight: 400;
    position: relative;
    height: 100%;
    width: 75%;
    margin: 60px auto;
}

#hostWord {
   height: 100%;
    width: 100%;
    background: none repeat scroll 0% 0% #2C3E50;
    text-align: center;
    color: #33B76E;
    font-family: "Roboto";
    padding: 30px 0px;
    text-transform: uppercase; 
}

#hostWord h2, #btnPlayerRestart h3 {
    font-size: 161px;
    line-height: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#playerScores {
    width: 60%;
    position: relative;
    background: none repeat scroll 0% 0% #FFF;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.playerScore {
    width: 48%;
    padding: 0px;
    font-family: "Quicksand",sans-serif;
    font-weight: 400;
    height: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.playerScore span {
    display: inline-block;
    font-size: 1.4em;
    padding: 2%;
    min-width: 10%;
    margin: 0px;
    position: relative;
    font-family: "Roboto";
    font-weight: 200;
}

.playerScore .score {
    text-align: center;
    color: #27AE60;
    margin-top: -30px;
}

.playerScore .playerName {
    width: auto;
}

#player1Score {
    /*float: left;*/
    /*color:#2C3E50 !important;*/
    display:inline-block;
    border-bottom: 5px solid #2C3E50;
}

#player2Score {
    float: right;
    text-align: center;
    border-bottom: 5px solid #33B76E;
    /*color: #27AE60;*/
}


/* ******************************
          TITLE SCREEN
     (intro-screen-template)
   ****************************** */

.gameOver {
    display: block;
    height: 20%;
    padding-top: 10%;
    font-size: 2em;
}

.btnGameOver {
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
}






/*HOVER EFFECTS*/


/*On hover (jQuery) show h3*/
h3:hover{
    color:#33B76E;
}
*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/